#header
{
	background-color:black;font:top;height:100px;width:938px;
}
#bottom
{
	background-color:black;
	font:left;
	height:100px;
	width:938px;
	margin-top: 250px;
}#center
{
	background-color:white;height:400px;width:938px;
}

